In [1]:
# Pandas 가져오기
import pandas as pd

# Data 불러오기
data = pd.read_csv('my_data.csv')

# 1. Unnamed:0라고 표기되는 열을 지운다. 단 Unnamed:0라 쓰지말고 새롭게 컬럼 이름을 만들어서 지운다.
data = data.rename(columns={'Unnamed: 0': 'columnTest'})
data = data.drop(['columnTest'], axis=1)
  # 변경된거 확인
print(data)

      name  age  salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    james   30  400000
4    Alice   25   50000
5      Bob   30   60000
6  Charlie   35   70000
7    james   30  400000

In [2]:
# 2. 0,1,2,3,4로 보여지는 index 부분을 지운다.
print(data.to_string(index=False))

   name  age  salary
  Alice   25   50000
    Bob   30   60000
Charlie   35   70000
  james   30  400000
  Alice   25   50000
    Bob   30   60000
Charlie   35   70000
  james   30  400000

In [3]:
# 3. name에 해당되는 영문 이름을 한글로 바꾼다.
name_ko = {
  'Alice': '앨리스',
  'Bob': '밥',
  'Charlie': '찰리',
  'james': '제임스'
}
data['name'] = data['name'].map(name_ko)
  # 변경된거 확인
print(data.to_string(index=False))

name  age  salary
 앨리스   25   50000
   밥   30   60000
  찰리   35   70000
 제임스   30  400000
 앨리스   25   50000
   밥   30   60000
  찰리   35   70000
 제임스   30  400000

In [4]:
# 4. salary에 해당되는 숫자를 000 세자리 단위로 콤마를 넣어서 값을 바꿔 넣는다.
data['salary'] = data['salary'].apply(lambda int_num : '{:,}'.format(int_num))
  # 변경된거 확인
print(data.to_string(index=False))

name  age  salary
 앨리스   25  50,000
   밥   30  60,000
  찰리   35  70,000
 제임스   30 400,000
 앨리스   25  50,000
   밥   30  60,000
  찰리   35  70,000
 제임스   30 400,000

In [6]:
# 5. 1~4를 처리하고 나서 csv파일로 저장한다.
data.to_csv('re_my_data.csv', index=False)